*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background:black;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}



.xp-loader{
margin-top: 20px;
margin-left: 35px;
width:220px;
height:18px;
border:2px solid #cfcfcf;
border-radius:6px;
overflow:hidden;
position:relative;

}

.box{
width:12px;
height:100%;
background:#3b6cff;
position:absolute;
animation:move 2s linear infinite;
}

.box:nth-child(1){
animation-delay:0s;
}

.box:nth-child(2){
animation-delay:0.1s;
}

.box:nth-child(3){
animation-delay:0.2s;
}

@keyframes move{
0%{
left:-20px;
}

100%{
left:240px;
}
}